.slide {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 150px;

  &__element {
    min-width: 200px;
    height: 100%;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
