<div>
  {{category}}
  <div class="slide">
    <button class="navigation navigation__left" (click)="slideMovies(-20)">
      <fa-icon [icon]="leftArrow"></fa-icon>
    </button>

    <div class="slide__container" #viewContainer>
      <div class="slide__element" *ngFor="let movie of movies">
        <app-movie
          [title]="movie.title"
          [imgUrl]="movie.img"
        ></app-movie>
      </div>
    </div>

    <button class="navigation navigation__right" (click)="slideMovies(20)">
      <fa-icon [icon]="rightArrow"></fa-icon>
    </button>
  </div>
</div>
