<form [formGroup]="formGroup" (submit)="submit()">
  <mat-stepper linear #stepper>
    <mat-step>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Adresse email</mat-label>
          <input #email matInput formControlName="email" type="email" />
          <mat-error *ngIf="formGroup.get('login')?.hasError('email')">
            Ce champ doit contenir une adresse email
          </mat-error>
          <mat-hint>adresse gmail</mat-hint>
          <button matSuffix mat-icon-button (click)="copyToClipBoard(email.value)">
            <mat-icon>
              content_copy
            </mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button (click)="stepper.next()" mat-button>next step</button>
    </mat-step>
    <mat-step>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" [type]="hide ? 'password' : 'text' " />
          <button matSuffix mat-icon-button (click)="hide = !hide">
            <mat-icon>
              {{ hide ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
          <mat-hint align="end">Minimum 10 caracractères</mat-hint>
          <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">
            Ce champ doit contenir au moins 3 caractères
          </mat-error>
          <mat-error *ngIf="formGroup.get('password')?.hasError('maxlength')">
            Ce champ ne doit pas contenir plus de 4 caractères
          </mat-error>
        </mat-form-field>
      </div>
      <button (click)="stepper.previous()" mat-button>previous step</button>
      <button [disabled]="formGroup.invalid" type="submit">Valider</button>
    </mat-step>
  </mat-stepper>
</form>
